@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-sans text-darkBlue;
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
